.sidebar {
  position:fixed;
  top: 0;
  left: -100dvh;
  transform: rotateZ(-90deg);
  transform-origin: top right;
  height: 12dvh;
  width: 100dvh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.sidebar_container {
  text-decoration: none;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 8dvh;
  letter-spacing: -.05em;
  color: #FFFA;
  width: 100%;
  text-align: center;
  margin-right: 1dvh;
}

.sidebar_maincontent {
  padding-left: 12dvh;
  width: calc(100% - 12dvh);
  height: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;

  
  --mask: linear-gradient(to left, 
      rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) calc(100% - 12dvh - 50px), 
      rgba(0,0,0, 0) calc(100% - 4dvh), rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100% repeat-x;

  -webkit-mask: var(--mask); 
  mask: var(--mask);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.sidebar_maincontent::-webkit-scrollbar {
  display: none;
}

.sidebar_first {
  padding-right: 3dvh;
}

.sidebar_about {
  text-decoration: none;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 2dvh;
  letter-spacing: -.05em;
  color: #FFFA;
  width: 100%;
  transform: rotateZ(90deg);
  line-height: 1.5em;
  padding-left: 1em;
}

.sidebar_about > a {
  color: inherit;
}